<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product['name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <header class="header">
        <a href="{{ url_for('index') }}" class="logo">logo</a>
        <nav class="navbar">
            <a href="{{ url_for('index') }}">Products</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('news') }}">News</a>
        </nav>
        <div class="group">
            <div class="cart">
                <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i> Cart </a>
            </div>
            <a href="#" id="accountButton"><i class="fa-solid fa-user"></i></a>
        </div>
    </header>
    <main>
        <h1>{{ product['name'] }}</h1>
<!-- Remove or comment out this line -->
<!-- <img src="{{ url_for('static', filename='uploads/' ~ product['image']) }}" alt="{{ product['name'] }}"> -->

        <p>{{ product['description'] }}</p>
        <p>Price: ${{ product['price'] }}</p>
        <p>Quantity: {{ product['quantity'] }}</p>
        <p>Organic: {{ product['organic'] }}</p>
        <form action="{{ url_for('add_to_cart', product_id=product['id']) }}" method="post">
            <input type="submit" value="Add to Cart">
        </form>
    </main>
</body>
</html>
