<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <header class="header">
        <a href="{{ url_for('index') }}" class="logo">logo</a>
        <nav class="navbar">
            <a href="{{ url_for('index') }}">Products</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('news') }}">News</a>
        </nav>
        <div class="group">
            <div class="cart">
                <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i> Cart </a>
            </div>
            <a href="#" id="accountButton"><i class="fa-solid fa-user"></i></a>
        </div>
    </header>
    <main>
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" required>
            
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" required>
            
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            
            <input type="submit" value="Register">
        </form>
    </main>
</body>
</html>
